/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/

body{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container{
  width: 100%
}

.header{
  /*border: 1px solid black;*/
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 1050px;
}

.container--nav{
  background-color: #C4594B;
}

.container--main{
  background-color: #F9F9F9;
}

.header__text{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 35px;
  color: #F9F9F9;
  font-weight: bold;

}


.main{
  /*border: 1px solid black;*/
  margin: auto;
  margin: auto;
  width: 1050px;
  height:100%;
}

.main__sidebar{
  /*border: 1px dotted black;*/
  padding-top: 30px;
  width: 300px;
  position: absolute;
  height: 100%;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  padding-left: 35px;
}

.main__box{
  margin-left: 300px;
  background-color: white;
  padding: 30px 35px 10px 35px;
  border-right: 3px solid #EFEFEF;
  border-left: 3px solid #EFEFEF;
}

.main__box p{
  text-align: justify;
}